.theorem {
  margin: 1em 0;
  border: 1px solid #dee2e6;
  border-left: 5px solid #FDE; 
  border-radius: 0.25rem;
}

.theorem > p {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2rem;
  font-size: 0.9rem;
}

.theorem > .display:last-child {
  margin-bottom: -2em;
}

.proof {
  position: relative;
}

.proof::after {
  content: "∎";
  font-size: 150%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cell-code {
  background-color: rgba(233,236,239,.65);
  border: 1px solid rgba(233,236,239,.65);
  border-radius: 0.25rem;
  padding: 0.4em;
}

.edgeLabel, .nodeLabel {
  color: black !important;
}

@media (min-width: 768px) {
  footer:has(.d-sm-block) {
    display: none;
  }
}
